PORT=5000
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5433/padosipro?schema=public"

# Dual JWT Authentication Secrets & Timers
JWT_ACCESS_SECRET="padosipro_access_secret_key_2026_production_ready"
JWT_REFRESH_SECRET="padosipro_refresh_secret_key_2026_production_ready"
JWT_ACCESS_TIME="15m"
JWT_REFRESH_TIME="7d"

# SMTP Settings (Mailpit local server defaults)
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="PadosiPro Support <no-reply@padosipro.com>"
